<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="'Test D R I V E'"></title>
        <link href="/css/main.css" rel="stylesheet">
    </head>
    <body>
        <h2 class="hello-title" th:text="'Test D R I V E, v' + ${version}"></h2>

        <div style="display: flex;">
            <div>
                <canvas id="canvas"
                        width="640"
                        height="480"
                        style="border:1px solid lightgrey;"
                >
                    Your browser does not support the HTML5 canvas tag.
                </canvas>
            </div>
            <div>
                <canvas id="mapDebugCanvas"
                        width="240"
                        height="276"
                        style="border:1px solid lightgrey;"
                >
                    Your browser does not support the HTML5 canvas tag.
                </canvas>
            </div>
        </div>

        <div th:text="'It is, ' + ${nowDateTime} + '!'"></div>
        <audio src="/audio/testDrive.ogg" crossorigin="anonymous" ></audio>
        <button id="startFullScreen">Go FullScreen</button>
        <button id="playAudio">Music on</button>
        <script data-main="/js/main" src="/js/require.js"></script>
    </body>
</html>
